@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-hex: black;
  --background-hex: white;
  --accent-hex: #f8df46;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-hex: white;
    --background-hex: black;
  }
}

body {
  color: var(--text-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
